/* custom css */

.image-preview {
    max-width: 100%;
    max-height: 200px;
}

.image-preview-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-block{
    display: block;
    width: 100%;
}